#dt-search-0 {
    margin-left: 5px;
}

#dt-length-0 {
    margin-right: 5px;
}

.collapse-item {
    white-space: normal !important;
}

@media (min-width: 768px) {
    .sidebar {
        width: 18rem !important;
    }

    .sidebar .nav-item .nav-link {
        width: 15rem;
    }
}